export(bd)
export(bd0)
export(bdfun0)
export(runModel)
export(cobweb)
export(cobweb2)
export(rickerF)
export(comp)
export(pred)
export(mkShinyServer) ## not sure why I need to export this?
importFrom(deSolve,ode)
importFrom(digest,digest)
importFrom(shiny,runApp)
importFrom(tcltk,tk_choose.dir)
importFrom(plyr,adply,ddply,rename)
importFrom(reshape2,melt,dcast)
importFrom(grid,arrow,unit)
