export(bd)
export(bd0)
export(bdfun0)
export(runModel)
export(cobweb)
export(cobweb2)
export(rickerF)
export(comp)
export(popSim)
export(pred)
export(mkShinyServer) ## not sure why I need to export this?
importFrom(deSolve,ode)
importFrom(digest,digest)
importFrom(shiny,runApp)
importFrom(tcltk,tk_choose.dir)
importFrom(plyr,adply,ddply,rename)
importFrom(reshape2,melt,dcast)
importFrom(grid,arrow,unit)
## importFrom(sound,Sine)
## importFrom(sound,appendSample)
## importFrom(sound,play)
importFrom(ggplot2,geom_hline,geom_abline,geom_line,geom_point,geom_segment)
importFrom(ggplot2,labs,expand_limits,annotate)
importFrom(ggplot2,theme_bw,element_blank,theme_set)
importFrom(ggplot2,ggplot,qplot)
importFrom(ggplot2,scale_colour_brewer,scale_linetype_discrete,scale_y_log10)
